@use "../../styles/default.module.scss";

.prelogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

    &__actions {
        display: flex;
        gap: 10px;
    }
}

.ap {
    height: 400px;
}

.sh {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0 20px;

    &__title {
        font-size: clamp(28px, 3.4vw, 32px);
        font-weight: 700;
    }

    &__content {}
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: clamp(16px, 3.4vw, 30px) clamp(16px, 3.4vw, 40px);

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        padding: 0 20px;
    }

    &__w {
        border-radius: 50%;
        object-fit: cover;
        background-color: #f7f7f7;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__im {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__ti {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        margin-top: 12px;
        line-height: 1.2;
        text-align: center;
    }

    &__sti {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        color: var(--muted);
        text-align: center;
    }
}